.wrapper {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr;
	grid-template-areas: 
		'header'
		'main'
		'footer';
	grid-template-rows: 65px auto 70px;
	min-height: 100vh;
}

header {
	grid-area: header;
}

main {
	grid-area: main;
	margin: 0 15%;
}

footer {
	grid-area: footer;
}
